.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
practice.Rmd
practice2.Rmd
development_background_assets
practice.qmd
parallel_practice.Rmd
README_old.Rmd
parallel_practice_old.Rmd
roio_example_v1_2025-10-24.Rmd
TODO.Rmd
TODO.nb.html
practice plotting.Rmd
